<div class="text-center login-page">
    <div class="container">

        <img class="mb-4 logo" src="../../assets/logo.PNG" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">{{labelLoged}}</h1>

        <div class="row justify-content-center details-div" *ngIf="logged">
            <div>
                <img width="60" src="{{(user | async)?.photoURL}}">
                <div class="media-body">
                    <h5 class="mt-0">{{(user | async)?.displayName}}</h5>
                    <p class="mt-0">{{(user | async)?.email}}</p>
                    <button class="btn btn-info" (click)="logout()">Sair</button>
                </div>
            </div>
        </div>
        <div class="group-btn" *ngIf="!logged && !loginWithEmail">
            <div class="row justify-content-center div-btn">
                <button class="btn btn-block btn-outline-primary" (click)="loginFacebook()">Login com Facebook</button>
            </div>
            <div class="row justify-content-center div-btn">
                <button class="btn btn-block btn-outline-danger" (click)="loginGoogle()">Login com Gmail</button>
            </div>
            <div class="row justify-content-center div-btn">
                <button class="btn btn-block btn-outline-success" (click)="loginWithEmail=true">Login com E-mail</button>
            </div>
        </div>
        <form class="form-signin" [formGroup]="loginForm" *ngIf="!logged && loginWithEmail">
            <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Seu email"
                required="" autofocus="">
            <br>
            <input type="password" id="inputPassword" formControlName="password" class="form-control"
                placeholder="Senha" required="">
            <br>
            <!-- <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Lembrar de mim
                </label>
            </div> -->
            <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid" (click)="loginEmail(email,password)">Login</button>
            <button class="btn btn-lg btn-secondary btn-block" (click)="loginWithEmail = false"
                type="submit">Voltar</button>
            <!-- <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
        </form>
    </div>
</div>